@model Noralighting.com.Models.Product
@{
    ViewBag.Title = "Details";
}
<style>
    h2 {
     
        margin-top: 0%;
    }

    h2,h3,h4 {
        color: darkred;
      
    }

    .row {
        margin-top: 2%;
       
    }

    .image {
        width: 80%;
    }


    .box {
        border: 1px solid #fff;
        background-color: darkred;
        padding: 5px;
        color: white;
        width: 80%;
        text-align: left;
        font-size: large;
        font-weight: bold;
        font-variant: small-caps;
    }


</style>
<!-- Page Content -->

<div class="container" id="contentd">
    <div class="row">
        <div class="col-lg-4" style="width:20%">
           
        </div>
        <div class="col-lg-4" style="width:30%">
            <img class="image" src="~/Content/images/Cyl.jpg" alt="Thumbnail Image">

        </div>
        <div class="col-lg-4" style="width:50%">
            <h2>Revo Motorized Universal Track Head</h2>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-4" style="width:20%">

        </div>
        <div class="col-lg-4" style="width:30%">
            <div class="box">NTH-REV150</div>
            <h4>Spec sheet</h4>
            <h3>Quick-Specs</h3>
            <h4>Spec sheet</h4>
            <h4>Spec sheet</h4>
            <h4>Spec sheet</h4>
            <h4>Spec sheet</h4>
            <h4>Spec sheet</h4>
            <h4>Spec sheet</h4>
            <h4>Spec sheet</h4>
        </div>
        <div class="col-lg-4" style="margin-top:-10%;color:darkred">
            <h3>Features</h3>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>

            </ul>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
            <h3> </h3>
        </div>
        <div class="col-lg-4" style="width:50%;margin-left:50%;margin-top:-15%;color:darkred">
            <h4>Downloadable literature</h4>
            <ul>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            </div>
            <div class="col-lg-6">
                <h2>Build your own</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Catalog No.</th>
                            <th>Source</th>
                            <th>Lumen</th>
                            <th>Color Temp</th>
                            <th>Emergency</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                             <label><input type="checkbox" value="">NRM-5122</label>
                            </td>
                            <td>
                                <label><input type="checkbox" value="">L=LED</label>
                            </td>
                            <td>
                                <label><input type="checkbox" value="">85=850</label>
                            </td>
                            <td>
                                <label><input type="checkbox" value="">27=2700K</label>
                            </td>
                            <td>
                                <label><input type="checkbox" value="">*EM=Emergency</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <div class="col-lg-3">

        </div>
        </div>

</div>



